<!-- SECTION TO COMPOSE A NEW MESSAGE -->
<div class="compose-holder item-stack">

    <!-- toggle bar for composing -->
    <div class="message-mini" ng-click="showCompose = !showCompose">
        Write message
    </div>

    <!-- inputs for new message -->
    <div class="item-stack" ng-show="showCompose">
        <div class="input-row stack-item">
            <span class="input-label">To: </span>
            <input type="text" class="hacker-input" ng-model="sendTo">
        </div>
        <div class="input-row stack-item">
            <span class="input-label">Subject: </span>
            <input type="text" class="hacker-input" ng-model="subject">
        </div>
        <div class="input-row stack-item">
            <div class="input-label">Message:</div><br>
            <textarea class="hacker-input" cols=100 rows=5 ng-model="message"></textarea>
        </div>
        <div class="send-holder stack-item">
            <div id="send-button" class="hacker-button" ng-click="postMessage()">Send</div>
        </div>
    </div>

</div>

<div class="hacker-divider"></div>

<div class="message-holder">
	<div ng-show="!hasMessages()">No messages</div>
    <div class="message-mini" ng-repeat="message in messageCtrl.messages" ng-click="toggleMessage($index)">
         <div class="show-message" ng-show="messageShowing($index)">
	 	{{ message.Subject }}
	 </div>
    </div>
</div>
