<div>Logged in as {{ getUser() }}</div>

<!-- SECTION TO COMPOSE A NEW MESSAGE -->
<div class="compose-holder item-stack">

    <!-- toggle bar for composing -->
    <div class="message-mini" ng-click="showCompose = !showCompose">
        Write message
    </div>

    <!-- inputs for new message -->
    <div class="item-stack" ng-show="showCompose">
        <div class="input-row stack-item">
            <span class="input-label">To: </span>
            <input type="text" class="hacker-input" ng-model="sendTo">
        </div>
        <div class="input-row stack-item">
            <span class="input-label">Subject: </span>
            <input type="text" class="hacker-input" ng-model="subject">
        </div>
        <div class="input-row stack-item">
            <div class="input-label">Message:</div><br>
            <textarea class="hacker-input" cols=100 rows=5 ng-model="message"></textarea>
        </div>
        <div class="send-holder stack-item">
            <div id="send-button" class="hacker-button" ng-click="postMessage()">Send</div>
        </div>
    </div>

</div>

<div class="hacker-divider"></div>

<div>
    <div ng-show="!hasMessages()">No messages</div>
	<div ng-repeat="m in messageCtrl.messages">
		<div class="message-mini" ng-click="toggleMessage($index)">
			{{ m.Subject }}
		</div>
		<div class="show-message message-holder" ng-show="messageShowing($index)">
			<pre>{{ m.Message }}</pre>
		</div>
	</div>
</div>

<div id="logout-holder">
	<div class="hacker-button" ng-click="logout()">Logout</div>
</div>
